*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --col: red;
    --col2: red;
    /* background-image: linear-gradient(red, yellow); */
    --width_white: 70px;
    --width_black: 42px;
    --blur: blur(15px);
}



.labels_container {
    position: absolute;
    margin-top: -1300px; /*for exact positioning */
    margin-left: -2500px; /*for exact positioning */
    color: white;
}

.start {
    position: relative;
    height: 20px;
    width: 50px;
    top: 100px;
}

.color {
    position: absolute;
    left: 170px;
    /* top: 400px; left: 600px; */
    
}

.color_label {
    position: relative;
    /* top: 300px; left: 600px; */
    color: white;
    top: -20px;
    left: 60px;
    font-size: 20px;
}

.color2 {
    position: relative;
    top: -20px; left: 250px; 
    
}

.color_label2 {
    position: relative;
    top: -48px; left: 190px; 
    /* top: 300px; left: 600px; */
    color: white;

    font-size: 20px;
}

.start_label {
    position: relative;
    /* top: 300px; left: 600px; */
    color: white;
    top: 80px;
    left: -50px;
    font-size: 20px;
}

body {
    filter: brightness(100%);
    background-color: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    margin-left: 700px;
    filter: brightness(100%);
    display: flex;
    position: fixed;
    bottom: 0;
    border-top: 3px solid var(--col); 
}

.color_notes {

    border-radius: 30px;

}



.key {
    height: calc(var(--width) * 4);
    width: var(--width);
  
}

.white {
    --width: var(--width_white);
    background-color:white;
    border: 1px solid #333;
    
}


.white.active {
    background-color: #CCC;
    background-color: var(--col);
    border-top: 5px solid grey;
    /* box-shadow: 0px -40px 25px -20px var(--col); */
    box-shadow: 0px -40px 25px -15px var(--col);

    /* box-shadow: */
    /* 0 0 60px 30px #fff,  inner white */
    /* 0 0 100px 60px #f0f, middle magenta */
    /* 0 0 140px 90px #0ff; outer cyan */
}

.black {
    --width: var(--width_black);
    
    background-color:black;
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 2;
    border-radius: 8px;
}

.black.active {
    background-color: var(--col);
    border-top: 5px solid black;
    box-shadow: 0px -30px 20px -10px var(--col);

}


.square {
    /* position: absolute; */
    position: absolute;
    top: 800px; left: 1600px;
    width: 00px;
    height: 00px;

    background: green;
}

.color_notes {
    background-image: linear-gradient(var(--col2), var(--col));


}






.note_on {
    position: absolute;
    top: 860px;
    left: 2000px;
    height: 200px;
    background: var(white);
    width: 20px;
    filter: brightness(100%);
    filter: blur(15px);
    
    
}
